<div class="container">
<div class="title text-center">
    <h2>Professional Experience</h2>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="product">
        <%= image_tag ("fc-logo.png"), class: "fc" %>
        <div class='product-body'>
          <h3>FlatClub</h3>
          <p>B2B Account Manager</p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="product">
        <div class="product-image hidden-xs">
          <%= image_tag ("notary-logo.png"), class: "product-image" %>
        </div>
        <div class='product-body'>
          <h3>Notary Office</h3>
          <p>LLM</p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="product">
        <div class="product-image hidden-xs">
          <%= image_tag ("bc-logo.png"), class: "product-image" %>
        </div>
        <div class='product-body'>
          <h3>British Council</h3>
          <p>Exam invigilator and supervisor</p>
        </div>
      </div>
    </div>

        <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="product">
        <div class="product-image hidden-xs">
          <%= image_tag ("law-logo.png"), class: "product-image" %>
        </div>
        <div class='product-body'>
          <h3>Regihelp Ltd.</h3>
          <p>Co-founder</p>
        </div>
      </div>
    </div>


  </div>
</div>
