<div class="wrapper-about-me">
  <div class="container education", id="about_me">

    <div class="title text-center">
      <h2>About me</h2>
      <hr>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="image-container">
          <%= image_tag ("me.jpg"), class: "avatar-me" %>
        </div>
      </div>

      <div class="col-sm-8 product about hvr-bubble-left">
        <div class="product-body">
          <p>I am Junior Full-Stack Developer, specialising in Ruby on Rails, HTML, CSS, JavaScript, SQL. As part of my education at LeWagon coding bootcamp I developed profound understanding of how to design, code and ship to production responsive web applications using Ruby on Rails. I learned the foundations of software engineering and database architecture, practised Github collaborations and gained valuable technical skills. I am a hard worker with growing passion towards new technologies and a constant desire to learn and develop professionally. </p>
        </div>
        <div class="buttons">
          <a href="#education" class="btn-medium">Education</a>
          <a href="#professional" class="btn-medium">Professional</a>
          <a href="#skills" class="btn-medium">Skills</a>
          <a href="#hobbies" class="btn-medium">Hobbies</a>
        </div>
      </div>
    </div>

  </div>
</div>


