<div class="container education", id="education">
  <div class="title text-center">
    <h2>Education</h2>
    <hr>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="product">
        <%= image_tag ("le-wagon-logo.png"), class: "product-image" %>
        <div class="product-body hvr-underline-from-center">
          <h3>LeWagon</h3>
          <p>9-week intensive coding bootcamp in London learning HTML, CSS, Bootstrap, JavaScript, jQuery, SQL, GitHub, Heroku and Ruby on Rails. Designed, Implemented and Shipped to production a clone of AirBnB and a Rails prototype of like-minded.tech, a website for travel advice among friends.</p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="product">
        <div class="product-image hidden-xs">
          <%= image_tag ("su-logo.png"), class: "product-image" %>
        </div>
        <div class='product-body hvr-underline-from-center'>
          <h3>Sofia Univerisity</h3>
          <p>LLM</p>
          <p>Master of Laws, Law, Second-class honours, upper division (2:1)
          </p>

        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="product">
        <div class="product-image hidden-xs">
          <%= image_tag ("feg-logo.png"), class: "product-image" %>
        </div>
        <div class='product-body hvr-underline-from-center'>
          <h3>French language school "Antoine De Saint Exupery"</h3>
          <p>High School Diploma</p>
          <p>French language and literature</p>
        </div>
      </div>
    </div>
  </div>
</div>

