<div class="banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url(<%= image_path ("color.jpg") %>)">
  <div class="container education">
    <div class="title-info text-center">
      <h2><span class="dot">.</span>Hobbies</h2>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="product">
          <%= image_tag ("board.jpg"), class: "product-image" %>
          <div class="product-body">
            <h3>Snowboarding</h3>

          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="product">
          <div class="product-image">
            <%= image_tag ("drums.jpg"), class: "product-image" %>
          </div>
          <div class='product-body'>
            <h3>Drums</h3>

          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="product">
          <div class="product-image">
            <%= image_tag ("feg-logo.png"), class: "product-image" %>
          </div>
          <div class='product-body'>
            <h3>Travelling</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
