<div class="container">
  <hr>
  <div class="title text-center">
    <h2>Projects</h2>
  </div>
  <div class="row">

    <div class="col-xs-12 col-sm-4 col-sm-offset-2">
      <div class="card-outline">
        <div class="card-pin">
          <%= image_tag ("pin.png") %>
        </div>
        <div class="card">
          <div class="card-image" style="background-image: url('<%= image_path ("likeminded.png") %>');">
          </div>
          <div class="card-category"></div>
          <div class="card-description">
            <h2></h2>
            <p></p>
          </div>
          <a class="card-link" href="http://www.like-minded.tech" target="_blank" ></a>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card-outline">
        <div class="card-pin">
          <%= image_tag ("pin.png") %>
        </div>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
          <div class="card-category">MusicEq</div>
          <div class="card-description">
            <h2>Some stuff</h2>
            <p>Very cool stuff, useful and smart</p>
          </div>
          <a class="card-link" href="#" ></a>
        </div>
      </div>
    </div>

  </div>
  <hr>
</div>
