<div class="container">
  <hr>
  <div class="title text-center">
    <div class="title-info">
      <h2>Projects</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-2">
      <div class="card-outline">
        <a class="card-link" href="http://www.like-minded.tech" target="_blank"></a>
        <div class="card-category">LikeMinded</div>
        <div class="card-pin">
          <%= image_tag ("rails.png") %>
        </div>
        <div class="card">
          <div class="card-image" style="background-image: url('<%= image_path ("likeminded.png") %>');">
          </div>
          <div class="card-description">
            <h2></h2>
            <p></p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card-outline">
        <a class="card-link" href="https://airbnb-pdunleav.herokuapp.com/" target="_blank"></a>
        <div class="card-category">MusicEq</div>
        <div class="card-pin">
          <%= image_tag ("rails.png") %>
        </div>
        <div class="card">
          <div class="card-image" style="background-image: url('<%= image_path ("musiceq.png") %>');">
          </div>
          <div class="card-description">
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
