<div class="wrapper">
  <div class="container other" id="professional">
    <div class="title-info text-center">
      <h2>Professional Experience</h2>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="product prof">
            <div class="product-image hidden-xs">
              <%= image_tag ("fc-logo.png"), class: "fc" %>
            </div>
            <div class='product-body'>
              <h3>FlatClub</h3>
              <p>B2B Account Manager</p>
              <p>Jan 2016 - Oct 2016</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="product prof">
            <div class="product-image hidden-xs">
              <%= image_tag ("notary-logo.png"), class: "product-image" %>
            </div>
            <div class='product-body'>
              <h3>Notary Office</h3>
              <p>LLM</p>
              <p>Aug 2015 - Jan 2015</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="product prof">
            <div class="product-image hidden-xs">
              <%= image_tag ("bc-logo.png"), class: "product-image" %>
            </div>
            <div class='product-body'>
              <h3>British Council</h3>
              <p>Exam invigilator and supervisor</p>
              <p>Oct 2013 - Aug 2015</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="product prof">
            <div class="product-image hidden-xs">
              <%= image_tag ("law-logo.png"), class: "product-image" %>
            </div>
            <div class='product-body'>
              <h3>Regihelp Ltd.</h3>
              <p>Co-founder</p>
              <p>Jan 2010 - Dec 2012</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
