<div class="wrapper">
  <div class="container projects" style="background-image: url(<%= image_path ("bg.jpg") %>)", id="projects">

    <div class="title-info project text-center">
      <h2><span class="dot">.</span>have a look at my projects</h2>
    </div>

    <div class="conianer">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <a href="https://lightclock.herokuapp.com/" target="_blank">
            <div class="card hvr-grow">
              <div class="image">
                <%= image_tag "lightclock.png" %>
              </div>
              <div class="card-text">
                LightClock
              </div>
            </div>
          </div>
        </a>

        <div class="col-xs-12 col-sm-6 col-md-4">
          <a href="http://www.like-minded.tech/" target="_blank">
            <div class="card hvr-grow">
              <div class="card-link">
              </div>
              <div class="image">
                <%= image_tag "likeminded.png" %>
              </div>
              <div class="card-text">
                LikeMinded
              </div>
            </div>
          </div>
        </a>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <a href="https://airbnb-pdunleav.herokuapp.com/" target="_blank">
            <div class="card hvr-grow">
              <div class="image">
                <%= image_tag "musiceq.png" %>
              </div>
              <div class="card-text">
                MusicEq
              </div>
            </div>
          </div>
          </a>
        </div>
      </div>
    </div>
  </div>





