.avatar-me {
  width: 200px;
  border-radius: 50%;
  box-shadow: 0px 0px 19px 0px rgba(50, 50, 50, 0.45);
  border: 4px solid #fff;
}
.about p {
  margin: 0 auto;
  text-align: justify;
  color: #979797;
  margin-top: 23px;
  max-width: 923px;
  font-size: 19px;
}

.buttons {
  margin-top: 30px;
}

.title-info {
  h2 {
    margin-bottom: 30px;
    margin-top: 70px;
    color: #80A9A2 ;
    text-transform: uppercase;
    font-weight: 100;
  }
}

.title-info.project h2 {
  color: whitesmoke !important;
}

.sep-line h4 {
  border-bottom: 2px solid pink;
  width: 100px;
  margin-bottom: 33px;
  color: transparent;
  margin: auto
}


