.banner {
  color: white;
  text-align: center;
  min-height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-position: bottom;
  display: flex;
  align-items: center;
  justify-content: center;
  background: no-repeat top center fixed;
}
.banner-content {
  h1 {
    font-size: 60px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
  p {
    font-size: 26px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.96);
    margin-bottom: 20px;
    text-shadow: 0.6px 0.6px grey;
  }
}

.title .border {
  border-bottom: 1px 1px solid grey;
}

#slider-arrow {
  display: block;
  width: 50px;
  height: 25px;
  border-radius: 50px 50px 0 0;
  background-color: #4C4040;
  background-repeat: no-repeat;
  background-position: 50% 108%;
  left: 50%;
  position: absolute;
  margin-left: -25px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  text-align: center;
  line-height: 50px;
  margin-top: -25px;
  img {
    height: 13px;
    margin-bottom: 15px;
  }
}



