.card {
  background-color: #27272b;
  padding: 15px 15px 10px 15px;
  margin: 15px 1.5%;
  -webkit-box-shadow: 0 10px 24px -5px rgba(0,0,0,.6);
  -moz-box-shadow: 0 10px 24px -5px rgba(0,0,0,.6);
  box-shadow: 0 10px 24px -5px rgba(0,0,0,.6);
  img {
    width: 100%;
    -webkit-box-shadow: 0 10px 12px -7px rgba(0,0,0,.54);
    -moz-box-shadow: 0 10px 12px -7px rgba(0,0,0,.54);
    box-shadow: 0 10px 12px -7px rgba(0,0,0,.54);
  }
}

.card-text {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  padding-top: 10px;
  text-align: center;
}

  .card-user {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .card-category {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 10px;
    text-transform: uppercase;
  }
  .card-description {
    position: absolute;
    bottom: -57px;
    left: 180px;
    font-family: 'Caveat Brush', cursive;
  }
  .card-description h2 {
    font-size: 28px;
    font-family: 'Caveat Brush', cursive;
    text-transform: uppercase;
  }
  .card-description p {
    font-size: 13px;
  }
  .card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index:2;
    background: black;
    opacity: 0;
  }
  .card-link:hover{
    opacity: 0.1;
  }


