.card {
  background-color: #27272b;
  padding: 15px 15px 10px 15px;
  margin: 15px 1.5%;
  -webkit-box-shadow: 0 10px 24px -5px rgba(0,0,0,.6);
  -moz-box-shadow: 0 10px 24px -5px rgba(0,0,0,.6);
  box-shadow: 0 10px 24px -5px rgba(0,0,0,.6);
  img {
    width: 100%;
    -webkit-box-shadow: 0 10px 12px -7px rgba(0,0,0,.54);
    -moz-box-shadow: 0 10px 12px -7px rgba(0,0,0,.54);
    box-shadow: 0 10px 12px -7px rgba(0,0,0,.54);
  }
}

.card-text {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  padding-top: 10px;
  text-align: center;
}


