.education {
  background-color: white;
  width: 100%;
  padding-bottom: 60px;
}

.other {
  background-color: #BFAABB;
  width: 100%;
  padding-bottom: 60px;
}

.wrapper {
  background-color: whitesmoke;
}

.wrapper-about-me {
  background-color: white;
}

.projects {
  background-color: white;
  width: 100%;
  background-size: cover;
  background-position: top center;
  padding-bottom: 125px;
}

