.skills-container {
  display: flex;
  justify-content: space-between;
  max-width: 700px;
  margin: auto;
  margin-bottom: 40px;
}

.skill {
  height: 80px;
  width: 80px;
  padding-right: 15px;
  margin: auto;
}

.skill-image {
  border-radius: 10px;
  height: 80px;

}

.skill-info {
  font-size: 16px;
  text-align: left;
  padding: 10px;
  position: absolute;
  top: 107px;
  transition: ease-in-out, top .5s ease-in-out;
  text-align: center;
  p {
    opacity: 0;
    transition: opacity .3s;
  }
}

.skill:hover {
  .skill-info {
    top: 80px;
    p {
      opacity: 1;
      transition: opacity 1s;
      font-size: 20px;
      color: black;
    }
  }
}

